body {
    font-size: 16px;
}

h2 {
    margin: 0;
}

.holder {
    display: flex;
    width: 700px;
    margin: 0 auto;
    font-family: monospace;
}

.card {
    display: flex;
    border-radius: 10px;
    width: 100%;
    background: red;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
}

.efri {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date, .date:focus-visible {
    background: none;
    font-weight: bold;
    border: none;
    outline: none;
}

.datetime-reset-button {
    opacity: 0 !important;
}

.nedri {
    display: none;
}

.check {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    height: 2em;
    width: 2em;
    border: 2px solid black;
    /* background: blue; */
    border-radius: 7px;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  
  .done::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    transform: scale(0);
    transition: 0.1s;
    border-radius: 50px;
    box-shadow: inset 1em 1em black;
    /* background-color: red; */
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  .done:checked::before {
    transform: scale(1);
  }