@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

:root {
    --body-back-c1: #514E6B; /* main body gradient color 1 */
    --body-back-c2: #7466EE; /* main body gradient color 2 */
    --card-back-co: #B2ABEB; /* card original color */
    --card-back-ch: #342E6B; /* card hover color */
    --card-border:  #8E89BB; /* card original color */
}

body {
    font-family: 'Source Code Pro', monospace;
    /* background: white;
    background-image: radial-gradient(white, lightgray); */
    background-image: linear-gradient(to bottom right, var(--body-back-c1), var(--body-back-c2));
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    margin: none;
}

h2 {
    margin: .2em;
}

button h2 {
    font-family: 'Source Code Pro', monospace;
}

.skip {
    background: white;
    color: black;
    height: 20px;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110%);
    transition: transform 0.3s;
  }
  
  .skip:focus {
    transform: translateY(0%);
  }

.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;
    transition: .3s;
}

.link-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
}

.single-link {
    background: var(--card-back-co);
    border-radius: 15px;
    padding: 10px;
    border: 3px var(--card-border) solid;
    color: var(--card-back-ch);
    position: relative;
    transition: ease-in-out .2s;
}

.single-link:hover, .single-link:focus-within, .contactbutton:hover, .contactbutton:focus{
    background: var(--card-back-ch);
    color: var(--card-back-co);
}

.link-spanner{
    pointer-events: auto;
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.contactbutton {
    display: table;
    /* position: relative; */
    color: var(--card-back-ch);
    margin: 0 auto;
    margin-top: 20px;
    background: var(--card-back-co);
    padding: 5px;
    border: 3px solid var(--card-border);
    border-radius: 10px;
    cursor: pointer;
    transition: .15s;
}

.contactcontainer {
    padding: 10px;
    display: flex;
    position: absolute;
    
    transform: translateX(-120%);
    top: 100px;
    margin: 10px;
    z-index: 5;
    background: var(--card-back-co);
    border: var(--card-border) solid 3px;
    border-radius: 15px;
    transition: .3s;
  }

.contactcontainer h2 {
    color: var(--card-back-ch);
}

.contactcontainer li {
    margin: 2px 0;
    color: var(--card-back-ch);
}

.contactcontainer a {
    text-decoration: underline;
    color: var(--card-back-ch);
    border-radius: 5px;
    padding: 2px;
}

.contactcontainer a:hover, a:focus {
    background: var(--card-back-ch);
    color: var(--card-back-co);
}

.contactbutton:focus ~ .contactcontainer, .contactcontainer:hover, .contactbutton:focus, .contactbutton:focus-within{
    transform: translateX(0%);
}

.contactbutton:focus ~ .container{
    filter: blur(5px) brightness(.5);
}
    
.contactbutton:focus ~ .container .link-spanner{
    pointer-events: none;
}

.contactbutton:focus ~ .container .single-link:hover{
    background: var(--card-back-co);
    color: var(--card-back-ch);
}

/* clouds */

.clouds {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    overflow: hidden;
    /* background: rgba(255, 0, 0, 0.24); */
}

.c1 {
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    border-radius: 50% 0 0 0;
    position: absolute;
    background: white;
}

.c2 {
    width: 150px;
    height: 150px;
    bottom: 195px;
    right: -75px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c3 {
    width: 150px;
    height: 150px;
    bottom: 180px;
    right: 30px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c4 {
    width: 100px;
    height: 100px;
    bottom: 175px;
    right: 130px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c5 {
    width: 150px;
    height: 150px;
    bottom: -75px;
    right: 225px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c6 {
    width: 150px;
    height: 150px;
    bottom: 10px;
    right: 175px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c7 {
    width: 250px;
    height: 250px;
    bottom: 0;
    left: 0;
    border-radius: 0 50% 0 0;
    position: absolute;
    background: white;
}

.c8 {
    width: 150px;
    height: 150px;
    bottom: 195px;
    left: -75px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c9 {
    width: 150px;
    height: 150px;
    bottom: 180px;
    left: 30px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c10 {
    width: 100px;
    height: 100px;
    bottom: 175px;
    left: 130px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c11 {
    width: 150px;
    height: 150px;
    bottom: -75px;
    left: 225px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

.c12 {
    width: 150px;
    height: 150px;
    bottom: 10px;
    left: 175px;
    border-radius: 50%;
    position: absolute;
    background: white;
}

/* clouds/ */

@media only screen and (max-width: 1100px) {
    .container {
        display: block;
    }

}

@media only screen and (max-width: 600px) {
    .contactcontainer {
        display: flex;
        width: 75vw;
        overflow-x: hidden;
        justify-content: center;
    }

    .contactcontainer h2 {
        margin-top: 1em;
    }
}