body {
    background-image: radial-gradient(white, lightgray);
}

a {
    text-decoration: none;
    margin: none;
}

h2 {
    margin: .2em;
}

.container {
    padding: 25px;
}

.inner-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
}

.single-link {
    background: white;
    border-radius: 15px;
    padding: 10px;
    border: 3px black solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    transition: .2s;
}

.single-link:hover {
    background: gray;
    color: white;
}

.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}