@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body 
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;

/* css fyrir navbar */
nav 
    background: black;
    color: white;
    width: 100%;


.navbar 
    margin: 0;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-content: center;


.navbar li 
    display: inline-block;
    margin: 5px 10px;


.navbar a 
    color: white;


main 
    background: white;
    padding: 25px;
    padding-top: 10px

.skip 
    background: white;
    color: black;
    height: 30px;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;

.skip:focus
    transform: translateY(0%)

button 
    font-family: 'Source Code Pro', monospace;

        

