/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
 *   |                                                                                                                                   ^
 *   '
 *   v2\main.sass 1:131  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');\d\a   \2502                                                                                                                                    ^\a   \2575 \a   v2\\main.sass 1:131  root stylesheet";
}
