header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

div {
    display: flex;
    flex-direction: column;
}

img {
    aspect-ratio: 1 / 1;
    width: 250px;
    border: 2px solid black;
}

input {
    height: 50px;
}